.gitattributes

# jshint config
.jshintrc

# generated shaders
src/gl/shader_sources.js

node_modules

# a make target for npm install
.npm

# OS misc
.DS_Store

# storing some screenshots here
screenshots
dist/tangram.test.js
