.gitattributes

# jshint config
.jshintrc

# build & test artifacts
node_modules
dist/tangram.debug.temp.js.map

# a make target for npm install
.npm

# OS misc
.DS_Store

#
*.sublime-project
*.sublime-workspace

# storing some screenshots here
screenshots
