body {
    margin: 0px;
    border: 0px;
    padding: 0px;
}

#map {
    background: rgba(0, 0, 0, 0);
    position: absolute;
    width: 100%;
    height: 100%;
}

.featureTable {
    display: table;
    background: white;
    opacity: 0.85;
}

.featureRow {
    display: table-row;
    text-align: left;
}

.featureCell {
    display: table-cell;
    padding: 2px 4px;
}
